body {
  text-align: center;
}
.body{
  font-family: 'Merriweather', serif;
  background-color: #6DBDDE;
}
p{
  font-size: 1.25rem;
  padding-bottom: 20px;
}

nav{
  position: fixed;
  top: 0;
}
.navShift {
  margin-top: 70px;
}
.form-inline{
  list-style-type: :none;

}
ul{
  list-style-type: :none;
}
