.container {
  /* padding-left: 12%; */
  background-color: white;
}
#row {
  padding-left: auto;
  margin-top: 15px;
  padding-top: 5px;
  border-radius: 5px;
}
.col-sm-4 {
  text-align: center;
}
body {
  background-color: #6DBDDE;
}
.header{
  color: black;
  font-size: 25px;
}
body{
  font-family: 'Merriweather', serif;
}
#hih{
  font-size:40px;
  color:#6dbdde;
}
.hhh{
  list-style:none;
}

li {
  list-style: none;
}
.navShift {
  margin-top: 70px;
}
.beans{
  height: 53px;
}
