.jumbotron{
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
.body{
  font-family: 'Merriweather', serif;
}
#signup {
  text-align: center;
  width:
}
h1 {
  text-align: center;
}
.footerIndex {
  color: #6DBDDE;
}
#footerColor {
  background-color: #6DBDDE;
}
body{
  background-color:  #6DBDDE;
}

nav {
  background-color: #F7F9F9;
}
.jumbotron {
  background-color: white;
}
video {
  padding-left:
}
.login{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  width:40%;
.1234{
  background-color:#000000;
}
